@import url(../01-Entrainement/css/reset.css);

.container{
    background: #017e7f;
    /* height: 75rem; */
    padding: 1rem 0 10rem;
}

.title__h1{
    font-size: 5rem;
  text-align: center;
  color: #fcedd8;
     font-family: 'Niconne', cursive;
  font-weight: 700;
text-shadow: 5px 5px 0px #eb452b, 
            10px 10px 0px #efa032, 
            15px 15px 0px #46b59b, 
            20px 20px 0px #017e7f, 
            25px 25px 0px #052939;
}

.header{
    background-color: #eb452b;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    /* border: 2px solid black; */
    padding: .5rem 1rem 5rem;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
}

.current__keysholder{
    padding: 1rem;
    margin-top: 2.5rem;
    background-color: #efa032;
}

.current__keysholder, .header{
    border-radius: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.form-group{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.form-control{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 1rem;
    background-color: rgb(245, 245, 245);
    font-weight: bold;
}

.credits{
    width: 50%;
    background-color: #052939;
    color: white;
    margin: 0 auto;
    margin-top: 2.5rem;
    padding: 2.5rem;
    border-radius: 2.5rem;
    box-shadow: rgba(5, 41, 57, 0.4) 5px 5px, rgba(5, 41, 57, 0.3) 10px 10px, rgba(5, 41, 57, 0.2) 15px 15px, rgba(5, 41, 57, 0.1) 20px 20px, rgba(5, 41, 57, 0.05) 25px 25px;
}

.credits__et__responsabilites{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.disclaimer{
    font-size: 1.25rem;
}